<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Лабораторна робота №3</title>
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <img src="header.jpg" width="100%" height="auto" alt="Header Image" style="display: block;">
            </td>
            <td bgcolor="#990000" align="right" valign="middle">
                <font color="white">Миропольцев Єгор</font>
            </td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#fff3e5" height="350" valign="top" align="justify">
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
                Роботу виконав Студент Миропольцев Єгор. Роботу виконав Студент Миропольцев Єгор.
            </td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#FF6600" height="30" align="right">
                Авторські права зареєстровані © Миропольцев Єгор
            </td>
        </tr>
    </table>
</body>
</html>
